html {
  height: 100%; }
  html body {
    background: #F9F7F5;
    height: 100%;
    background: url("../img/game_background_blurred_bw.jpg") no-repeat;
    background-size: cover; }
    html body .new-quest-container .new-quest-backdrop {
      background: #000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      z-index: 0; }
    html body .new-quest-container .new-quest-accepted {
      position: absolute;
      top: 35%;
      left: 0px;
      text-align: center;
      width: 100%;
      padding-right: 5%;
      padding-left: 5%;
      z-index: 1;
      opacity: 0;
      transition: opacity 600ms; }
      html body .new-quest-container .new-quest-accepted .new-quest-accepted-shadow {
        box-shadow: 0px 50px 77px 14px #333;
        margin-right: -5%;
        margin-left: -5%;
        opacity: 0;
        transition: opacity 600ms; }
      html body .new-quest-container .new-quest-accepted.active {
        opacity: 1; }
        html body .new-quest-container .new-quest-accepted.active .new-quest-accepted-shadow {
          opacity: 1; }

body.hmbr header.hmbr-header {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px 15px;
  overflow: hidden;
  opacity: 0.4;
  z-index: 9999; }
  body.hmbr header.hmbr-header a.hmbr-logo {
    float: left;
    display: block;
    height: 44px;
    width: 44px;
    background: url("https://holdmybr.blob.core.windows.net/blog/hmbr_logo.png") no-repeat;
    background-size: contain;
    text-indent: -9999px;
    display: block;
    margin-top: 7px; }
  body.hmbr header.hmbr-header .hmbr-header-content {
    float: left; }
    body.hmbr header.hmbr-header .hmbr-header-content .hmbr-copy {
      float: left;
      margin-left: 6px;
      color: #fbfbfb;
      border-right: 1px solid #aaa;
      padding-right: 10px;
      height: 58px; }
      body.hmbr header.hmbr-header .hmbr-header-content .hmbr-copy .hmbr-author {
        display: block;
        height: 40px;
        margin-top: -6px; }
        body.hmbr header.hmbr-header .hmbr-header-content .hmbr-copy .hmbr-author .hmbr-author-avatar {
          width: 25px;
          height: 25px;
          border: 1px solid #fbfbfb;
          display: inline-block;
          background-size: contain;
          float: left;
          margin: 7px 7px 0px 0px; }
        body.hmbr header.hmbr-header .hmbr-header-content .hmbr-copy .hmbr-author .hmbr-avatar-name {
          line-height: 40px;
          display: block;
          float: left; }
    body.hmbr header.hmbr-header .hmbr-header-content .hmbr-social {
      float: left;
      padding-left: 10px;
      padding-top: 4px; }
      body.hmbr header.hmbr-header .hmbr-header-content .hmbr-social a {
        display: block;
        text-decoration: none;
        font-size: 24px;
        color: #fbfbfb;
        line-height: 1em; }
        body.hmbr header.hmbr-header .hmbr-header-content .hmbr-social a span {
          font-size: 13px;
          height: 24px;
          line-height: 24px;
          display: block;
          background: transparent;
          margin-left: 0px;
          margin-top: -24px;
          padding-left: 0px;
          width: 1px;
          border-radius: 6px 2px 2px 6px;
          overflow: hidden;
          transition: width 0ms; }
        body.hmbr header.hmbr-header .hmbr-header-content .hmbr-social a:hover {
          color: #FFF; }
          body.hmbr header.hmbr-header .hmbr-header-content .hmbr-social a:hover span {
            background: #333;
            padding-left: 30px;
            width: 175px;
            transition: width 300ms ease; }
  body.hmbr header.hmbr-header:hover {
    opacity: 1; }

@media (max-width: 576px) {
  body.hmbr header.hmbr-header {
    opacity: 1; }
    body.hmbr header.hmbr-header a.hmbr-logo {
      position: absolute;
      bottom: -5px;
      right: 24px;
      text-indent: 0;
      background: none;
      color: #eeb546;
      width: 100px;
      text-decoration: none; }
    body.hmbr header.hmbr-header .hmbr-header-content .hmbr-copy {
      border-right: 0px;
      border-bottom: 1px solid #aaa; }
    body.hmbr header.hmbr-header .hmbr-header-content .hmbr-social > div {
      display: inline-block;
      margin-right: 10px; } }

html body .hmbr-author-avatar {
  background: url("https://holdmybr.blob.core.windows.net/blog/designers/alexisprado.jpg") no-repeat; }

html body .new-quest-container.hunt .new-quest-list {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 5%;
  right: 0;
  width: 350px; }
  html body .new-quest-container.hunt .new-quest-list > div {
    height: 60px;
    position: relative; }
  html body .new-quest-container.hunt .new-quest-list > div > div {
    background: #5B667C;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 1; }
  html body .new-quest-container.hunt .new-quest-list ul.hunt-enemy-container {
    list-style: none;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin: 0px;
    padding: 15px 35px; }
    html body .new-quest-container.hunt .new-quest-list ul.hunt-enemy-container li.hunt-enemy {
      border: 1px solid #CCCBC9;
      border-left: 0;
      border-right: 0;
      position: relative; }
      html body .new-quest-container.hunt .new-quest-list ul.hunt-enemy-container li.hunt-enemy i.hand-selection {
        position: absolute;
        top: 6px;
        left: -20px;
        color: #F9F7F5;
        display: none; }
      html body .new-quest-container.hunt .new-quest-list ul.hunt-enemy-container li.hunt-enemy a {
        color: #E8C63F;
        text-decoration: none;
        display: block;
        padding: 2px 20px; }
      html body .new-quest-container.hunt .new-quest-list ul.hunt-enemy-container li.hunt-enemy:hover i.hand-selection {
        display: block; }
      html body .new-quest-container.hunt .new-quest-list ul.hunt-enemy-container li.hunt-enemy:hover a {
        color: #FFD945; }

html body .new-quest-container.hunt .new-quest-accepted {
  color: #FFD945; }
  html body .new-quest-container.hunt .new-quest-accepted h1 {
    opacity: 0;
    transition: opacity 0s ease-out 0ms; }
  html body .new-quest-container.hunt .new-quest-accepted h2 {
    opacity: 0;
    transition: opacity 0s ease-out 0s; }
  html body .new-quest-container.hunt .new-quest-accepted hr {
    border-color: #F9F7F5;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50%;
    transition: width 1s; }
  html body .new-quest-container.hunt .new-quest-accepted.active h1 {
    opacity: 1;
    transition: opacity 300ms ease-in 300ms; }
  html body .new-quest-container.hunt .new-quest-accepted.active h2 {
    opacity: 1;
    transition: opacity 100ms ease-in 1300ms; }
  html body .new-quest-container.hunt .new-quest-accepted.active hr {
    width: 100%; }

@media (max-width: 576px) {
  html body .new-quest-container.hunt .new-quest-list {
    left: 10%;
    right: 10%;
    width: 80%;
    font-size: 13px; }
  html body .new-quest-accepted h1 {
    font-size: 1.5em; }
  html body .new-quest-accepted h2 {
    font-size: 1.0em; } }

